/* adihaus FONT */
@font-face {
  font-family: AdihausDIN;
  src:
    local('AdihausDIN Regular'),
    local('AdihausDIN-Regular'),
    url('https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-Regular.woff2') format('woff2'),
    url('https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AdihausDIN;
  src:
    local('AdihausDIN Bold'),
    local('AdihausDIN-Bold'),
    url('https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-Bold.woff2') format('woff2'),
    url('https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}


@font-face {
  font-family: AdihausDIN;
  src:
    local('AdihausDIN MediumItalic'),
    local('AdihausDIN-MediumItalic'),
    url('https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-CnMediumItalic.woff2') format('woff2'),
    url('https://adl-foundation.adidas.com/prod/v26.0.0/assets/fonts/adidas/AdihausDIN-CnMediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
